<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QUEL JOURNAL ?</title>
   
</head>
<body>
    <a style="text-align: center;"> 
        <br>
        <div class="centrage">
            <h1>Bienvenue sur l'application "QUEL JOURNAL ?" </h1>
            <h2>Veuillez entrer le titre d'un article. </h2>
            <h2>Je vais prédire quel journal peut l'avoir publié.</h2>
        </div>
        <br>
        <br>
        <div class="hero-body">
            <div class="container">
                <form role="form" method="POST" action="/predict">
                    <input type="text" name="monArticle" >
                    <button type="submit" class="btn btn-default">Soumettre</button>
                </form>
            </div>
        <div>
    </a>
</body>